{{ getUserId() }}

<div align="center" class="main">
  <form
    class="example-form"
    (keydown.enter)="addFeedToDb(textInput.value, $event)"
  >
    <mat-form-field class="example-full-width" style="display: inline-block;">
      <mat-label>Add URL</mat-label>
      <input
        id="text-input"
        matInput
        placeholder="https://..."
        #textInput
        (keyup)="onKey($event)"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearInputField()"
        type="button"
        *ngIf="keyStrokes || isUpdating"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button
      id="btn-add"
      mat-raised-button
      class="submit-btn"
      color="primary"
      (click)="addFeedToDb(textInput.value, $event)"
    >
      Add
    </button>
  </form>
  <div style="min-width: 8rem;">
    <br /><br />
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <div [hidden]="showSpinner">
      <mat-nav-list id="list" cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-list-item *ngFor="let feed of savedFeeds; let i = index" cdkDrag>
          <p matLine>{{ feed }}</p>
          <button
            mat-icon-button
            color="primary"
            (click)="edit(feedKeys[i], feed)"
          >
            Edit
          </button>
          <button mat-icon-button color="warn" (click)="delete(feedKeys[i], i)">
            Delete
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>
