.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.main {
  margin-top: 5%;
  margin-left: 1rem;
  margin-right: 1rem;
}

table {
  width: 100%;
}

/* #list {
  margin-right: 25%;
} */
